# Google Earth Engine configuration
GEE_SERVICE_ACCOUNT=true
GEE_PROJECT_ID=your-ee-project-id
GEE_SERVICE_ACCOUNT_EMAIL=your-sa@your-ee-project-id.iam.gserviceaccount.com
GEE_SERVICE_ACCOUNT_KEY_FILE=Credentials/ee-geodetic.json
